authentik:
  secret_key: {{ quote .Values.canonical.authentik.secretKey }}
  postgresql:
    password: {{ quote .Values.canonical.postgres.databases.authentik.password }}
  redis:
    password: {{ quote .Values.canonical.redis.password }}

bootstrap:
  password: {{ quote .Values.canonical.authentik.bootstrapPassword }}
