{{- $pg := .Values.canonical.postgres -}}
{{- $redis := .Values.canonical.redis -}}
env:
  DB_PASSWORD: {{ quote $pg.databases.core_dev.password }}
  DATABASE_URL: {{ printf "postgresql://%s:%s@%s:%d/%s" $pg.databases.core_dev.username $pg.databases.core_dev.password $pg.host $pg.port $pg.databases.core_dev.name | quote }}
  POSTGRES_PASSWORD: {{ quote $pg.databases.core_dev.password }}
  REDIS_PASSWORD: {{ quote $redis.password }}
  REDIS_URL: {{ printf "redis://:%s@%s:%d" $redis.password $redis.host $redis.port | quote }}
  BULL_REDIS_URL: ""
