{{- $pg := .Values.canonical.postgres -}}
{{- $redis := .Values.canonical.redis -}}
{{- $bot := .Values.canonical.dcmaidbot -}}
botToken: {{ quote $bot.botToken }}
adminIds: {{ quote $bot.adminIds }}

database:
  password: {{ quote $pg.databases.dcmaidbot.password }}

redis:
  password: {{ quote $redis.password }}

openaiApiKey: {{ quote $bot.openaiApiKey }}

nudgeSecret: {{ quote $bot.nudgeSecret }}
